.background {
    position: absolute;
    display: block;
    height: 400px;
    margin: 0 0 10px 0;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('../images/welcome-bg.jpg'),
    center;
    /*background-image: url("../images/welcome-bg.jpg");*/
    /*background-position: center;*/
    background-size: cover;
}
.line_perfct{
    width: 40%;
    height: 5px;
    background: #ff9800;
    margin: auto;
}
.like_client {
    background: #ff9800;
    width: 100%;
    position: absolute;
    left: 0;
    color: #ffffff;
    height: 300px;
    padding: 20px;
    margin: auto;
}
.icon_center{
    display: block;
    padding: 49px 23%;
    text-align: center;
}
.info_company_block{
    margin: 320px 0 0 0;
}
.icon_info_company{
    /*width: 50px;*/
    /*height: 50px;*/
}

