.contact_form_info{
    width: 80%;
}

#first_test{
    width: 400px;
    height: 500px;
    padding: 130px 60px 0 60px;
    color: #ffffff;
    background-color: #222;
    font-size: large;
}
#first_test1{
    height: 550px;
    padding: 40px 20px 0 20px;
    /*background: #f5f5f5;*/
    font-size: large;
}
#second_test{
    width: 800px;
    height: 500px;
    padding: 20px;
    background: #f5f5f5;
}
* {
    box-sizing: border-box;
    margin: 0;
}
.demo-wrapper {
    display: table;
    max-width: 420px;
    /*margin: 0 auto;*/
}
.link {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 20px;
    text-align: center;
    color: #102030;
}
.link-inner {
    perspective: 820px;
}
.link div {
    display: block;
    width: 300px;
    transform: rotateX(0deg) rotateY(30deg);
    border-left: 10px solid #ff9800;
    border-radius: 24px;
    transition: .5s ease-in-out;
}
.link div.mobile {
    position: absolute;
    z-index: 5;
    right: 20px;
    top: 45px;
    width: 90px;
    transform: rotateX(0deg) rotateY(-9deg);
    border-right: 4px solid #ff9800;
    border-left: 0 solid #ff9800;
    border-radius: 24px;
}
/*.link:hover div {*/
/*    transform: translateY(-15px);*/
/*    border-left: 0 solid #ff9800;*/
/*    border-right: 0 solid #ff9800;*/
/*}*/
.topinfo-form_text, .row, .form-group{
 border-left: none!important;
}
.post-meta {
margin-top: 20px;
}
.post-meta h2 {
margin-bottom: 15px;
}

.efsol_goldUL {
    list-style-image: url(../images/galka.png);
}

nav, footer{
 margin-right: auto;
 margin-left: auto;
}
.wrap > .container{
    margin-right: 5%;
    margin-left: 7%;
    width: 100% !important;
}
.outsourcing_row{
    margin-top: 95px;
    margin-bottom: 48px;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
}
caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
}
tr:nth-child(odd) {
    background: white;
}
div.text_price > table tr:nth-child(even) {
    background: #E8E6D1;
}
.expenses{
    background-color: #222;
    color: #ffffff;
    padding: 35px 20px 20px 20px;
    width: 100%;
    position: relative;
    opacity: 0.9;
}
.price{
    margin: 0 15px 30px 15px;
    width: 20%!important;
    text-align: center;
}
.text_price {
    border-top: none;
}

.box_or_left{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 40px solid #ff9800;
    border-left: 50px solid transparent;
    right: 0;
    bottom: 0;
}

.box_or_right{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 89px solid #ff9800;
    border-right: 50px solid transparent;
    left: 0;
    bottom: 0;
}
.text_price .table {
    margin: 0!important;
    height: 470px;
}
.sum-expenses{
    border-top: 5px solid #b4b2a2;
    padding: 35px 20px 20px 20px;
    width: 100%;
    position: relative;
}
#int_price_sum1{
    color: #04a400;
}
#int_price_sum2{
    color: #ff9800;
}
#int_price_sum3{
    color: #e13c4c;
}
#int_price_sum4{
    color: #a43894;
}
.sum-expenses-last{
    border-top: 5px solid #b4b2a2;
    padding: 24px 20px 20px 20px;
    width: 100%;
    position: relative;
}
#info_block_loga {
    margin: 40px 0;
    font-size: large;
}
#big_logo{
    text-align: center;
    padding: 53px 0 0 0;
}
#shtat > li {
    padding: 10px 0;
}
#info_block_loga > div.col-sm-3.col-md-6 > h3 {
    text-align: center;
}