html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body
{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .block_padding_on{
        padding-right:0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-inverse {
    /*background-color: #696a67;*/
    border-width: 0;
}
.brand-img {
    width: 171px;
    height: 57px;
    margin-left: 10px;
    /*transform: rotate(90deg);*/
}
.navbar-brand {
    padding: 0;
}
.navbar-nav > li > a {
    line-height: 31px;
}
.info-supre{
    z-index: 2;
    position: relative;
    padding: 100px;
    color: #ffffff;
}
.single_service {
    padding: 32px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    height: 300px;
    /*background: #f5f5f5;*/
    border-radius: 37px;
}
.single_service_icon {
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 5;
    top: 26px;
    left: 29px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.little_block{
    height: 124px!important;
}
.section_heading {
    margin-bottom: 30px;
    text-align: center;
}
.icon_center{
    display: block;
    padding: 49px 23%;
    text-align: center;
}
.info_company_block{
    /*margin: 320px 0 0 0;*/
}
.contact_center {
    margin: 10px 45%;
}
.contact_info_phone{
    float: right;
    color: #ffffff;
    padding-top: 5px;
    margin: 0 0 0 30px;
}
.navbar-header{
    min-height: 63px!important;
}
.complecs_service{
    margin-top: 20px;
}
.map_yy {
    width: 100%;
    height: 250px;
}
.container_conntent{
    margin-top: 90px;
}
.review_img{
    width: 200px;
    margin: auto;
}
.reply-item__logo{
    width: 190px;
    height: 85px;
    margin: auto;
}
.osnov_review{
    padding: 30px;
    margin: 0 5px;
    background: #f5f5f5;
    border-radius: 37px;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.reply-item__reply-text {
    margin-bottom: 5px;
    height: 105px;
}
.marg_top_cont{
    margin-top: 10px;
}
.osnov_review:hover {
    box-shadow: inset 0 0 0 23px rgba(211, 195, 175, 0.72);
}