html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-inverse {
    /*background-color: #696a67;*/
    border-width: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #ff9800;
}
.brand-img {
    width: 160px;
    height: 60px;
    /*transform: rotate(90deg);*/
}
.navbar-brand {
    padding: 0;
}
.navbar {
    min-height: 61px;
    border-color: #080808;
    opacity: 0.9;
}
.navbar-nav > li > a {
    line-height: 31px;
}
.jumbotron{
    position: relative;
    color: #ffffff;
    height: 500px;
}
.info-supre{
    z-index: 2;
    position: relative;
    padding: 100px;
}
.single_service {
    padding: 32px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    height: 300px;
    /*background: #f5f5f5;*/
    border-radius: 37px;
}
.send_info {
    background: #D3C3AF;
    border: none;
    color: black;
}
.send_info:hover {
    background: #9f9083;
    color: black;
}
.show-fanny  {
    background: #f5f5f5;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;}
.show-fanny:hover {
    box-shadow: inset 0 0 0 23px rgba(211, 195, 175, 0.72);
}
.single_service_text > h4 {
    color: #2c3e50;
    letter-spacing: 0.5px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 36px;
    padding-left: 94px;
}
.single_service_icon {
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 5;
    top: 26px;
    left: 29px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.little_block{
    height: 124px!important;
}
.section_heading {
    margin-bottom: 30px;
    text-align: center;
}