.navbar-ticket{
    margin-bottom: 0 !important;
}
.container_ticket {
    position: relative;
    width: 200px;
    height: 100vh;
    float: left;
    background: #f5f5f5;
    padding: 10px;
}
a {
    text-decoration: none !important;
}
.container_ticket a {
    color: #0a0a0a!important;
    font-size: 15px;
}
main {
    margin-top: 15px;
}
.container_ticket a:hover {
    background: #e5d0bf !important;
}
